<div class="dashboard-container">
    <nav class="side-nav">
        <div class="nav-header">
            <img src="../../../assets/icons/NavIcons/Logo.svg" alt="" class="nav-logo">
        </div>
        <ul class="nav-list">
            <li><img src="../../../assets/icons/NavIcons/dashboard.svg" alt="" class="nav-item"></li>
            <li><img src="../../../assets/icons/NavIcons/monitoreo_planta.svg" alt="" class="nav-item"></li>
            <li><img src="../../../assets/icons/NavIcons/historico_sensores.svg" alt="" class="nav-item"></li>
            <li><img src="../../../assets/icons/NavIcons/historico_plantas.svg" alt="" class="nav-item"></li>
            <li><img src="../../../assets/icons/NavIcons/cerrar_sesion.svg" alt="" class="nav-item"></li>
        </ul>
    </nav>
    <div class="box">
        <header class="header">
            <div class="header-title">
                <h1>Monitoreo global</h1>
            </div>
            <div class="header-user">
                <img src="../../../assets/icons/header-icons/idioma.svg" alt="" class="header-icon">
                <img src="../../../assets/icons/header-icons/ajustes.svg" alt="" class="header-icon">
                <img src="../../../assets/icons/header-icons/notification.svg" alt="" class="header-icon">
                <p>Matías Villafañe</p>
            </div>
        </header>
        
        <section class="cards">
            <div class="card">
                <div class="card-content">
                    <span class="card-name">Lecturas OK</span>
                    <h3 class="card-value">{{1234 | number}}</h3>
                </div>
                <div class="card-icon">
                    <img src="../../../assets/icons/" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <span class="card-name">Alertas medias</span>
                    <h3 class="card-value">932</h3>
                </div>
                <div class="card-icon">
                    <img src="../../../assets/icons/" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <span class="card-name">Alertas rojas</span>
                    <h3 class="card-value">932</h3>
                </div>
                <div class="card-icon">
                    <img src="../../../assets/icons/" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <span class="card-name">Sensores deshabilitados</span>
                    <h3 class="card-value">932</h3>
                </div>
                <div class="card-icon">
                    <img src="../../../assets/icons/" alt="">
                </div>
            </div>
        </section>
        <section class="plant">
            
        </section>
        <section class="cards-stats">
            
        </section>
    </div>
</div>