<div class="dashboard-container">
    <nav class="side-nav">
        <div class="nav-header">
            <img src="../../../assets/icons/NavIcons/Logo.svg" alt="" class="nav-logo">
        </div>
        <ul class="nav-list">
            <li><img src="../../../assets/icons/NavIcons/dashboard.svg" alt="" class="nav-item"></li>
            <li><img src="../../../assets/icons/NavIcons/monitoreo_planta.svg" alt="" class="nav-item"></li>
            <li><img src="../../../assets/icons/NavIcons/historico_sensores.svg" alt="" class="nav-item"></li>
            <li><img src="../../../assets/icons/NavIcons/historico_plantas.svg" alt="" class="nav-item"></li>
            <li><img src="../../../assets/icons/NavIcons/cerrar_sesion.svg" alt="" (click)="logOut()" class="nav-item"></li>
        </ul>
    </nav>
    <div class="box">
        <header class="header">
            <div class="header-title">
                <h1>Monitoreo global</h1>
            </div>
            <div class="header-user">
                <img src="../../../assets/icons/header-icons/idioma.svg" alt="" class="header-icon">
                <img src="../../../assets/icons/header-icons/ajustes.svg" alt="" class="header-icon">
                <img src="../../../assets/icons/header-icons/notification.svg" alt="" class="header-icon">
                <p>{{ currentUser.fullName }}</p>
            </div>
        </header>
        <section class="cards">
            <div *ngFor="let card of cardTotalStats" class="card">
                <div class="card-content">
                    <span class="card-name">{{ card.name }}</span>
                    <h3 class="card-value">{{card.value | number}}</h3>
                </div>
                <div class="card-icon">
                    <img src="../../../assets/icons/CardIcons/{{card.icon}}" alt="{{card.name}}">
                </div>
            </div>
        </section>
        <section class="plants">
            <div class="add-plant">
                <h3 class="plant-title">Plantas</h3>
                <button class="button-add" (click)="addPlant()" >+ Crear nueva planta</button>
            </div>
            <table class="table-plants">
                    <tr>
                      <th>País</th>
                      <th>Nombre de la planta</th>
                      <th>Lecturas</th>
                      <th>Alertas medias</th>
                      <th>Alertas rojas</th>
                      <th>Acciones</th>
                    </tr>
                    <tr>
                        <td>Argentina</td>
                        <td>Planta 1</td>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                        <td><img class="button-edit" src="../../../assets/icons/PlantsIcons/more-actions.svg"/></td>
                    </tr>
                    <tr>
                        <td>Argentina</td>
                        <td>Planta 1</td>
                        <td>1234</td>
                        <td>1234</td>
                        <td>1234</td>
                        <td (click)="editPlant(1)" ><img class="button-edit" src="../../../assets/icons/PlantsIcons/more-actions.svg"/></td>
                    </tr>
                    
            </table>
        </section>
        <section class="cards-stats">
            <div *ngFor="let card of cardStats" class="card">
                <div class="card-content">
                    <span class="card-name">{{ card.name }}</span>
                    <div class="card-detail">
                        <div class="card-detail-icon">
                            <img src="../../../assets/icons/CardIcons/lecturas_ok.svg" alt="lecturas_ok">
                            <div class="card-detail-value">{{card.value_ok}}</div>
                        </div>
                        <div class="card-detail-icon">
                            <img src="../../../assets/icons/CardIcons/aler_med.svg" alt="alerta_medias">
                            <div class="card-detail-value">{{card.value_avg}}</div>
                        </div>
                        <div class="card-detail-icon">
                            <img src="../../../assets/icons/CardIcons/aler_rojas.svg" alt="alertas_rojas">
                            <div class="card-detail-value">{{card.value_warn}}</div>
                        </div>    
                    </div>
                </div>
                <div class="card-icon">
                    <img src="../../../assets/icons/CardStatsIcons/{{card.icon}}" alt="{{card.name}}">
                </div>
            </div>
        </section>
    </div>
</div>