/* */
.dashboard-container{
    height: 100vh;
    width: 100%;
    background: #E9F1F4;
    display: flex;
}

/* side nav */
.side-nav{
    background: #FFFFFF;
    box-shadow: 3px 0px 5px 0px #0000001A;
    height: 100%;
    width: 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
}

.nav-header{
    margin-bottom: 70px;
}

.nav-item{
    margin-bottom: 30px;
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.nav-item:hover{
    filter: brightness(0);
}

/* header | user data */
.box{
    width: 90%;
    height: 90%;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-title h1{
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
}


.header-user{
    display: flex;
    align-items: center;
}

.header-user img{
    margin-right: 13px;
}

.header-user p{
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

/* cards */
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card{
    border-radius: 13px;
    background: #FFFFFF;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-name{
    color: #8E8EA1;
    font-weight: 400;
    font-size: 12px;
}

/* plants */

.plants{
    width: 100%;
    height: 350px;
    margin: 20px 0;
    border-radius: 13px;
    background-color: #FFFFFF;
}

.add-plant{
    padding: 20px 5px;
    margin: 0 auto;
    width: 95%;
    display: flex;
    align-items: center;
    padding-top: 20px;
    border-bottom: solid 1px #E5E5E5;
}

.plant-title{
    margin-right: 30px;
    font-size: 16px;
}


.button-add{
    background: #FFFFFF;
    border-radius: 5px;
    border: solid 1px #c2c2c2;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 12px;
    font-family: inherit;
    font-weight: 500;
}

.button-add:hover{
    background: #F5F5F5;
}

/* table plants */
table{
    width: 95%;
    margin: 20px auto 0;
}

th{
    color: #B0CAd1;
    font-size: 14px;
    font-weight: 500;
}

tr{
    width: 100%;
    display: grid;
    justify-items: start;
    margin-bottom: 20px;
    grid-template-columns: repeat(6, 1fr);
}

td{
    font-size: 12px;
}

td:last-child{
    cursor: pointer;
    width: 60px;
    text-align: center;
}


/* stats cards */
.cards-stats{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card-detail{
    display: flex;
}

.card-detail-icon{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.card-detail-icon img{
    margin-right: 5px;
    width: 14px;
}

.card-detail-value{
    font-size: 12px;
}