<div class="form-container">
    <h3>Editar planta</h3>
    <form class="form" action="">
        <div class="grid">
            <label for="plant-name" class=" align-input">
                Nombre planta
                <input type="text" readonly class="edit-input">
            </label>
            <label for="plant-country" class="align-input">
                País
                <input type="text" readonly class="edit-input">
            </label>
            
            <label for="plant-country" class="align-input">
                Cantidad de lecturas
                <input type="text" class="edit-input"   placeholder="Ingrese">
            </label>

            <label for="numbReading" class="align-input">
                Cantidad de lecturas
                <input type="text" class="edit-input" id="numbReading" name="numbReading" placeholder="Ingrese">
            </label>

            <label for="average" class="align-input">
                Alertas medias
                <input type="text" class="edit-input" id="average" name="average" placeholder="Ingrese">
            </label>

            <label for="warning" class="align-input">
                Alertas rojas
                <input type="text" class="edit-input" id="warning" name="warning" placeholder="Ingrese">
            </label>
        
        </div>
        <div class="buttons">
            <button class="btn cancel">Cancelar</button>
            <button class="btn edit">Editar</button>
        </div>
    </form>
</div>