<div class="form-container">
    @if(isLoadingEdit()){
        <app-loader></app-loader>
    }@else {
        <h3>Editar planta</h3>
        <form class="form" [formGroup]="editForm" (submit)="editPlant()">
        <div class="grid">
            <label for="plant-name" class=" align-input">
                Nombre planta
                <input type="text"  readonly class="edit-input" [value]="plantSelected.plantName">
            </label>
            <label for="plant-country" class="align-input">
                País
                <input type="text" readonly class="edit-input"  [value]="plantSelected.country">
            </label>
            
            <label for="readingOkOnlyRead" class="align-input">
                Cantidad de lecturas
                <input type="text" readonly id="readingOkOnlyRead" class="edit-input" formControlName="readingsOk"  placeholder="Ingrese">
            </label>
            
            <label for="readingsOk" class="align-input">
                Cantidad de lecturas
                <input type="number" class="edit-input" id="readingsOk" formControlName="readingsOk"  placeholder="Ingrese">
            </label>
            
            <label for="mediumAlerts" class="align-input">
                Alertas medias
                <input type="number" class="edit-input" id="mediumAlerts" formControlName="mediumAlerts" placeholder="Ingrese">
            </label>
            
            <label for="redAlerts" class="align-input">
                Alertas rojas
                <input type="number" class="edit-input" id="redAlerts"  formControlName="redAlerts" placeholder="Ingrese">
            </label>
            
        </div>
        <div class="buttons">
            <button class="btn cancel" type="reset" (click)="cancel()">Cancelar</button>
            <button class="btn edit" [disabled]="editForm.invalid" type="submit" >Editar</button>
        </div>
    </form>
    }
</div>