.content{
    display: flex;
    height: 100vh;
    background: linear-gradient(#33A3AA, #107076);
}

.left, .right{
    width: 50%;
    height: 100%;
}

.right{
    border-radius: 30px 0 0 30px;
    background: #FBFCFC;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    position: absolute;
    top: 0;
    right: 45%;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .2;
    object-fit: cover;
}


.left{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-info{
    position: relative;
    width: 70%;
}

.title{
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 20px;
}

.greeting{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
    width: 60%;
}

.icon{
    margin-right: 15px;
}

.info{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.info h3{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 8px;
}

.info span{
    font-size: 14px;
    font-weight: 400;
}

.subtitle{
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 500;
}

.form{
    display: flex;
    flex-direction: column;
    width: 60%;

}

.form-inputs{
    display: grid;
    gap: 20px;
}

.input-container{
    width: 100%;
    display: grid;
    grid-template-areas: "input";
}

.form-input{
    font-family: inherit;
    /* position: absolute; */
    padding: 15px 20px;
    width: 100%;
    outline: none;
    border: solid 1px #9e9e9e;
    border-radius: 13px;
    background: inherit;
    grid-area: input;
}

.form-text{
    color: #9e9e9e;
    grid-area: input;
    z-index: 100;

    width: max-content;
    height: 100%;
   
    padding: 14px 5px;
    margin-left: 10px;

    display: flex;
    align-items: center;

    transform-origin: left center;
    transition: trasnform .3s;
}

.form-input:focus{
    border: solid 1px #33A3AA;
    color: #84818A;
}

.form-input:focus + .form-text,
.form-input:not(:placeholder-shown) + .form-text{
    transform: translateY(-50%) scale(.7);
    background: #FBFCFC;
    transition: .3s;
    color: #33A3AA;
}

.icon-pw{
    position: relative;
    top: 10%;
    right: 10%;
}

.form-btn{
    display: flex;
    margin: 30px 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.btn{
    width: 40%;
    padding: 15px 0;
    border: none;
    border-radius: 13px;
    background: #33A3AA;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background .3s;
}

.btn:hover{
    background: #107076;
}

.terms-conditions{
    font-size: 12px;
    color: #84818A;
}

.links{
    color: #33A3AA;
    font-weight: 500;
    text-decoration: none;
}

.links:hover{
    text-decoration: underline;
}

.already-login, .already-register{
    font-size: 14px;
    margin-top: 40px;
}


.error{
    border : solid 1px #ff5e5e;
    color: #ff5e5e;
}

.error-input{
    font-size: 12px;
    color: #ff5e5e;
    padding-left: 10px;
}

.error-request{
    padding: 5px 10px;
    font-size: 15px;
    background: #ffe3e3;
    border-radius: 7px;
    color: #ff1515;
}


.successfully-request{
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 7px;
    background: #9fffb3;
    color: #00b400;
}