<div class="content">
    <img class="image" src="../../../assets/images/image.png" alt="hero-image">
    <section class="left">
        <div class="login-info">
            <h1 class="title">Iniciar sesión</h1>
            <p class="greeting">Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades. Inicia sesión y continúa aprovechando al máximo nuestra plataforma.</p>
            <div class="info">
                <img src="../../../assets/icons/LoginIcons/Icon.svg" alt="" class="icon">
                <div>
                    <h3>Monitoreo integral</h3>
                    <span>Administra, monitorea mutiples plantas de forma centralizada</span>
                </div>
            </div>
            <div class="info">
                <img src="../../../assets/icons/LoginIcons/Icon2.svg" alt="" class="icon">
                <div>
                    <h3>Notificaciones en tiempo real</h3>
                    <span>Recibi notificaciones en tiempo real sobre las mediciones</span>
                </div>
            </div>
        </div>
    </section>

    <!-- FORMULARIO LOG IN -->
    <section class="right">
        <form [formGroup]="loginForm" (submit)="login()" class="form">
            <h1 class="title">Portal de monitoreo</h1>
            <h3 class="subtitle">Iniciar sesión</h3>
            <div class="form-inputs">        
                <label class="input-container" for="email">
                    <input 
                    autocomplete="off"
                    type="email" 
                    id="email" 
                    formControlName="email" class="form-input"
                    [ngClass]="{'error' : email.invalid && email.touched}"
                    placeholder=" " required>
                    <span class="form-text">Email</span>
                    <span class="error-input" [style.visibility]="email.invalid && email.touched ? 'visible' : 'hidden'">Ingrese un email valido</span>
                </label>
                
                <label class="input-container" for="password">
                    <input 
                    autocomplete="off"
                    type="password"
                    id="password" 
                    formControlName="password" class="form-input"
                    [ngClass]="{'error' : password.invalid && password.touched}"
                    placeholder=" " required>
                    <span class="form-text">Contraseña </span>
                    <span class="error-input" [style.visibility]="password.invalid && password.touched ? 'visible' : 'hidden'">Ingrese la contraseña</span>
                    <!-- <img class="icon-pw" src="../../../assets/icons/shape_pw.svg" alt="show-pw"> -->
                </label>   
            </div>
            <span class="error-request" [style.visibility]="hasError ? 'visible' : 'hidden'">{{ alertError }}</span>
            <div class="form-btn">
                <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
                <button class="btn" [disabled]="loginForm.invalid" type="submit">Iniciar sesión</button>
            </div>
            <div class="terms-conditions">
                <p>Protegido por reCAPTCHA y sujeta a la <a class="links" href="#">Politica de Privacidad</a> y <a class="links" href="">Condiciones</a></p>
            </div>
            <div class="already-register">
                <p>¿No tienes una cuenta? <a class="links" routerLink="/register">Registrarse</a></p>
            </div>
        </form>
    </section>
</div>

